@media screen and (max-width: 800px) {

    .galerie{
        width: calc((100% / 2) - 30px);
    }

    .galerieImages{
        .galerieImage{
            width: calc((100% / 3) - 10px);
        }
    }

}

@media screen and (max-width: 640px){

    .galerie{
        width: calc(100% - 30px);
    }

    .galerieImages{
        .galerieImage{
            width: calc((100% / 2) - 10px);
        }
    }

}
