/* DiaporamaBundle */
.diaporamas{
    margin: 0px -15px 0px -15px;
}

.galerie{
    float: left;
    width: calc((100% / 3) - 30px);
    margin: 0px 15px 30px 15px;
    background-color: lighten($grisClair,13%);
    padding:20px;
    min-height: 400px;
}

.galerieTitre{
    margin-bottom: 10px;
}

.galerieImage{
    img{
        width: 100%;
        margin-bottom: 10px;
    }
}

.galerieDate{
    margin-bottom: 10px;
}

.galerieResume{
    margin-bottom: 15px;
}

.galerieLien{
    a{
        font-size: 14px;
    }
}

.galerieViewImage{
    img{
        width: 100%;
        margin-bottom: 20px;
    }
}

.galerieViewDate,
.galerieViewCategorie{
    margin-bottom: 20px;
}

.galerieImages{
    .galerieImage{
        width: 25%;
        float: left;
        img{
            width: 100%;
        }
    }
}